* {
    font-family: 'Roboto', sans-serif;

    padding-right: 48px;
    padding-left: 48px;
    padding-bottom: 48px;

}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    border: #1F2937;
    flex: 1 1 auto;
}

.logo {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: bold;
    flex: 2 1 auto;
}

a.nav-link:link {
    color:#E5E7EB;
    font-size: 18px;
    text-decoration: none;
    width: 1%;
}

.box {
    display: flex;
    flex-direction: column;
    
}

.one {
    background-color: #1F2937;
}

.two {
    background-color: white;
}

.three {
    background-color: #E5E7EB;
}

.four {
    background-color: white;
}

#heromain {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

#herosec {
    color:#E5E7EB;
    font-size: 18px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}
